<?xml version="1.0"?>
<launch>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />


  <!-- send robot URDF to ROS param server, and spawn robot in Gazebo, along with necessary ROS nodes -->
  <include file="$(find manipulator_gazebo)/launch/spawn_manipulator.launch"/>

</launch>