<?xml version="1.0"?>
<launch>

  <!-- load the joint state controller -->
  <rosparam file="$(find manipulator_gazebo)/config/joint_state_controller.yaml" command="load" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" args="joint_state_controller" />

  <!-- load the arm controller -->
  <rosparam file="$(find manipulator_gazebo)/config/manipulator_arm_controller.yaml" command="load" />
  <node name="robot_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="arm_controller" />


  <!-- load the end efector controller -->
  <rosparam file="$(find manipulator_gazebo)/config/EndEfector_controller.yaml" command="load" />
  <node name="EndEfector_Spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="hand_ee_controller"/>


</launch>