<launch>
  <arg name="model" />
	<arg name="ee_marker" default="false" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find archie_description)/urdf/manipulator_main.xacro 
    ee_marker:=$(arg ee_marker)"/>
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find archie_description)/config/rviz_display.rviz" />
</launch>
