<?xml version="1.0"?>
<launch>
  <arg name="ee_marker" default="false"/>
  <arg name="use_rviz"  default="true"/>
  <!-- MoveIt options -->
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>
  
<!-- Launch Gazebo and spawn the robot -->
  <include file="$(find archie_description)/launch/gazebo.launch">
    <arg name="ee_marker" value="$(arg ee_marker)"/>
  </include> 

  <!-- Launch MoveIt -->
  <include file="$(find archie_moveit)/launch/move_arm_rviz_gazebo.launch" pass_all_args="true">
    <arg name="use_rviz" value="$(arg use_rviz)" />
    <!-- robot_description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>

</launch>
