<launch>
  <!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the
  controllers -->
  <include file = "$(find manipulator_description)/launch/gazebo.launch" />
  <!-- Launch Moveit Move Group Node -->
  <include file = "$(find manipulator_moveit)/launch/move_group.launch" />
  <!-- Run Rviz and load the default configuration to see the state of the move_group node -->
  <arg name="use_rviz" default="true" />
  <include file="$(find manipulator_moveit)/launch/moveit_rviz.launch" if="$(arg
  use_rviz)">
  <arg name="rviz_config" value="$(find manipulator_moveit)/launch/moveit.rviz"/>
  </include>

  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world base_link" />
  
  <node name="move_arm_node" pkg="manipulator_master" type="move_arm.py" respawn="false" output="screen">
  </node>

</launch>
