<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<xacro:include filename="$(find manipulator_description)/urdf/manipulator_macro.xacro"/>

  <!-- transmission list -->
  <transmission name="link_1_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_1">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="link_1_motor">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="link_2_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_2">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="link_2_motor">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="link_3_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_3">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="link_3_motor">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="link_4_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_4">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="link_4_motor">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="link_5_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_5">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="link_5_motor">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="link_6_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_6">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		</joint>
		<actuator name="link_6_motor">
			<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>
  <!-- end of transmission list -->

  <!-- Gazebo-specific link properties -->

  <gazebo reference="link_1">
		<selfCollide>true</selfCollide>
		<material>Gazebo/Black</material>
	</gazebo>

	<gazebo reference="link_2">
		<selfCollide>true</selfCollide>
		<material>Gazebo/Orange</material>
	</gazebo>

	<gazebo reference="link_3">
		<selfCollide>true</selfCollide>
		<material>Gazebo/Black</material>
	</gazebo>

	<gazebo reference="link_4">
		<selfCollide>true</selfCollide>
		<material>Gazebo/Orange</material>
	</gazebo>

	<gazebo reference="link_5">
		<selfCollide>true</selfCollide>
		<material>Gazebo/Black</material>
	</gazebo>

	<gazebo reference="link_6">
		<selfCollide>true</selfCollide>
	</gazebo>

  <!-- ros_control plugin -->
  <gazebo>
		<plugin name="control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
		</plugin>
	</gazebo> 
  
</robot>